hr {
  height: 1px;
  background-color:black;
  width: 115%;
  border: none;
  margin: calc( 0.1em - 0.5px) 0  calc( 0.1em - 0.5px) 0 ;
}
div{
  text-align: center;
  overflow: hidden;
}
.trainNumber{
  font-size:60%;
}
