.parent{
  overflow-x:hidden;
  overflow-y:hidden;
  width:100%;
  white-space:nowrap;
}
.child{
  display:inline-block;
  vertical-align:top;
  white-space:normal;
  padding: 2px;
  height:100%;
  border-right: black solid 1px;

}
app-train-name{
  width: 2.7em;

}
