<div id="root">
  <br>
  <br>
  <form>
  <input id="input" type="file" style="display: none" (change)="file($event)"/>
  </form>
  WebOud v0.1(β版)
  <div  id="openFile" (click)="openFile()" style="display:none;text-decoration: underline;">ファイルを開く</div>
  <ul>
    <li>{{oudData.name}}</li>
    <ul>
      <li style="display:none;">駅</li>
      <li style="display:none;">列車種別</li>
      <li *ngFor="let a of oudData.diagrams">{{a.name}}
        <ul>
          <li style="text-decoration: underline;">
            <span (click)="openDownTimeTable(oudData.diagrams.indexOf(a))">下り時刻表</span>
          </li>
          <li style="text-decoration: underline;">
            <span (click)="openUpTimeTable(oudData.diagrams.indexOf(a))">上り時刻表</span>
          </li>
          <li style="display:none;">
            ダイヤグラム
          </li>
        </ul>
      </li>
      <li style="display:none;">
        コメント
      </li>
    </ul>
  </ul>
</div>
