<app-timetable-menu></app-timetable-menu>
  <div>
    <div id="stationTitle">
      列<br/>車<br/>名
    </div>
    <div  id="trainTitle">
      <app-train-name  *ngFor="let i of this.useTimeTable()" [oud]="oudData" [train]="i"></app-train-name>
    </div>
  </div>
  <div>
    <div id="stationList">
      <app-station *ngFor="let a of stationList()" [station]="a" [direct]="direction"></app-station>
    </div>
    <div id="trainList" (scroll)="onScroll($event)">
      <app-train *ngFor="let i of this.useTimeTable()" [oud]="oudData" [train]="i"></app-train>
    </div>
  </div>
