<app-timetable-menu [oudData]="oudData" [diaIndex]="diagramIndex" [direction]="direction">
</app-timetable-menu>
<div id="title">
  <div id="stationTitle">
      <span class="vertical">列車名</span>
  </div>
  <div  id="trainTitle">
    <app-train-name  *ngFor="let i of this.useTimeTable()" [oud]="oudData" [train]="i"></app-train-name>
  </div>
</div>
<div id="time">
  <div id="stationList">
    <app-station *ngFor="let i of stationIndexList() ; " [stationIndex]="i" [oud]="oudData" [direct]="direction"></app-station>
    <hr class="big"/>
    <div class="remark"><span class="vertical">備考</span></div>
    <br/><br/><br/><br/>
  </div>
  <div id="trainList" (scroll)="onScroll($event)">
    <app-train *ngFor="let i of this.useTimeTable()" [oud]="oudData" [train]="i" [direction]="this.direction"></app-train>
  </div>
</div>
